<!-- <div *ngFor="let post of posts">
  <div class="card" *ngIf="!post.active"> -->
<div class="card" *ngFor="let post of posts">
      <div class="card-header">
          {{post.id}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.body}}</p>
        <a class="btn btn-danger" *ngIf="post.active">Disattiva</a>
        <a class="btn btn-success" *ngIf="!post.active">Attiva</a>
        
        <!-- <a class="btn btn-success">{{post.active ? "Disattiva" : "Attiva"}}</a> -->
  
      </div>
  </div>
<!-- </div> -->